.app-container {
  display: flex;
  flex-direction: row;

  .list-panel {
    margin: 0 0 0 50px;
    max-width: 350px;
  }
}

.vertical-container {
  display: flex;
  flex-direction: column;

  .list-panel {
    margin: 30px 0 0 0;
  }
}

.list-panel {
  flex: 1;
}

.editor-panel {
  flex: 1;
}

.welcome {
  max-width: 460px;
}
